{% capture id %}{{ section.id | remove:'/sections/' | downcase }}{% endcapture %}
<section class="section" id="{{ id }}">
  <div class="section__container">
    <div class="grid">
      <div class="grid__item">
        <h2 class="section__title">{{ section.title }}</h2>
        {{ section.content }}
      </div>
      <div class="grid__item u-center">
        <div class="device__container">
          <img src="{{ section.image }}" alt="{{ section.image_alt }}">
          <figure class="iphone">
            <div class="iphone__speaker">
              <div class="iphone__speaker--circle"></div>
              <div class="iphone__speaker--line"></div>
            </div>
            <div class="iphone__screen">
              <video src="{{ section.video_asset }}" id="iphone-video" autoplay muted loop></video>
              <label class="u-vh" for="iphone-video">{{ section.video_alt }}</label>
            </div>
            <div class="iphone__button"></div>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
