{% capture id %}{{ section.id | remove:'/sections/' | downcase }}{% endcapture %}
<section class="section section--middle" id="{{ id }}">
  <div class="section__container">
    <div class="grid gallery">
      <input class="gallery__input" id="gallery1" name="gallery" type="radio" checked>
      <input class="gallery__input" id="gallery2" name="gallery" type="radio">
      <input class="gallery__input" id="gallery3" name="gallery" type="radio">
      <input class="gallery__input" id="gallery4" name="gallery" type="radio">
      <div class="grid__item" id="galleryImages">
        <div class="grid gallery">
          <p class="gallery__caption">{{ section.caption }}</p>
          {% assign features = site.features | sort:"position" %}
          {% for feature in features %}
            <div class="grid__item grid__item--half">
              <label class="gallery__label" for="gallery{{ feature.position }}">
                <video src="{{ feature.video_asset }}" autoplay muted loop class="gallery__image" id="galleryImg{{ feature.position }}"></video>
                <label class="u-vh" for="galleryImg{{ feature.position }}">{{ feature.video_alt }}</label>
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="grid__item gallery__container" id="galleryBody">
        {% for feature in features %}
          <div class="gallery__content" id="galleryContent{{ feature.position }}">
            <h2 class="section__title">{{ feature.title }}</h2>
            {{ feature.content }}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
