{% capture id %}{{ section.id | remove:'/sections/' | downcase }}{% endcapture %}
<section class="home" id="{{ id }}">
  <div class="home__container">
    <div class="home__logo">
      <img class="home__icon" src="{{ section.brand_image }}" alt="{{ section.brand_image_alt}}">
    </div>
    <h1 class="home__title">{{ section.title }}</h1>
    {{ section.content }}
    <a class="home__link" href="#about" aria-label="Scroll down to content">
      <svg class="home__icon home__icon--bounce" viewBox="0 0 32 32" width="64" height="64" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
          <path d="M30 12 L16 24 2 12"></path>
      </svg>
    </a>
  </div>
</section>
