<header class="navbar">
  <a href="#home" class="navbar__brand">
    <img class="navbar__logo" src="uploads/logo-ondark.svg" alt="Workstream X logo">
  </a>
  <nav class="navbar__nav">
    <ul class="navbar__list">
      <li class="navbar__item">
        <a href="#about" class="navbar__link">About</a></li>
      <li class="navbar__item">
        <a href="#contact" class="navbar__link">Contact</a></li>
      <li class="navbar__item">
        <a href="#login" class="navbar__link navbar__link--btn">Log In</a></li>
    </ul>
  </nav>
</header>
